<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Quản lí MenuGames</title>
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/css/bootstrap.min.css'>
    <link rel="stylesheet" href="css/menugames.css">
    <!-- <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js'></script> -->
    <script src="javascripts/jquery/jquery-3.6.0.min.js"></script>
    <script src='javascripts/jquery/jquery.gridstrap.js'></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="javascripts/menugames.js"></script>
    <link rel="stylesheet" href="css/dropzone/dropzone.min.css" />

</head>

<body>
    <!-- Category /..... List -->
    <div>
        <div>
            <div style="width: 33%; display:block ">
                <div>
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#ModalAddCategory">Thêm Thể Loại</button>
                </div>
                <div>
                    <% var List_Category = JSON.parse(List_Category) %>
                        <table class="table">
                            <thead>
                                <tr style="text-align: center;">
                                    <th scope="col" style="border-left: 1px solid;border-right: 1px solid;">ID</th>
                                    <th scope="col" style="border-left: 1px solid;border-right: 1px solid;">Tên Games</th>
                                    <th scope="col" style="text-align: right;"></th>
                                </tr>
                            </thead>
                            <tbody>
                                <% for (var key in List_Category) { %>
                                    <tr>
                                        <td style="border-left: 1px solid;border-right: 1px solid;">
                                            <%= List_Category[key]["id"] %>
                                        </td>
                                        <td style="border-left: 1px solid;border-right: 1px solid;">
                                            <%= List_Category[key]["name"] %>
                                        </td>
                                        <td style="text-align: right;">
                                            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#ModalEditCategory">Chỉnh sửa</button>
                                            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#ModalDelCategory" onclick="del_Category(`<%= List_Category[key]['id'] %>`)">Xoá</button>
                                        </td>
                                    </tr>
                                    <% } %>
                            </tbody>
                        </table>
                </div>
            </div>
        </div>
    </div>

    <!-- Menugame -->
    <div class="container">
        <div style="text-align: right;">
            <button type="button" class="btn btn-primary" id="edit-set-game" data-toggle="modal" data-target="#ModalEditGame" disabled>Chỉnh Game</button>
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#ModalAddGame">Thêm Game</button>
            <button type="button" class="btn btn-primary" onclick="window.location.href = '/menugames';">RESET</button>
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#ModalSaveListGames">Lưu Lại</button>
        </div>
        <div id="basic-grid" class="row text-center">
            <% var List_ItemGames = JSON.parse(List_ItemGames) %>
                <% for (var key in List_ItemGames) { %>
                    <div class="col-xs-12 col-sm-6 col-md-1 col1 container" id="id_games-<%= key %>" api_id="<%= List_ItemGames[key]['id_list'] %>" ondblclick="Edit_SetGame(`<%= List_ItemGames[key]['id_list'] %>`,
                    `<%= List_ItemGames[key]['name_game'] %>`,
                    `<%= List_ItemGames[key]['icon'] %>`,
                    `<%= List_ItemGames[key]['category_id'] %>`,
                    `<%= List_ItemGames[key]['name_game'] %>`,
                    `<%= List_ItemGames[key]['folder'] %>`,
                    `<%= List_ItemGames[key]['exe'] %>`,
                    `<%= List_ItemGames[key]['parameter'] %>`,
                    `<%= List_ItemGames[key]['linkfolder_target'] %>`,
                    `<%= List_ItemGames[key]['linkfolder_link'] %>`,
                    `<%= List_ItemGames[key]['reg_id'] %>`)">
                        <img src="./images/<%= List_ItemGames[key]['icon'] %>" disabled>
                        <div class="text-items">
                            <%= List_ItemGames[key]['name_game'] %>
                        </div>
                    </div>
                    <% } %>
        </div>
    </div>

    <!-- Modal Thêm Thể loại -->
    <div class="modal fade" id="ModalAddCategory" tabindex="-1" role="dialog" aria-labelledby="ModalAddCategoryLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="ModalAddCategoryLabel">Thêm Thể Loại</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
                </div>
                <div class="modal-body">
                    <!-- Input -->
                    <form action="/menugames/add-category" method="POST">
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text">Tên thể loại</span>
                            </div>
                            <input type="text" class="form-control" placeholder="Nhập vào đây" name="category_name">
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
                            <button type="submit" class="btn btn-primary">Thêm Thể Loại</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal Chỉnh Thể loại -->
    <div class="modal fade" id="ModalEditCategory" tabindex="-1" role="dialog" aria-labelledby="ModalEditCategoryLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="ModalEditCategoryLabel">Sửa Thể Loại</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
                </div>
                <div class="modal-body">
                    <!-- Input -->
                    <form action="/rentacc/add-typegame" method="POST">
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text">Sửa thể loại</span>
                            </div>
                            <input type="text" class="form-control" placeholder="Nhập vào đây" name="typegame">
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
                            <button type="submit" class="btn btn-primary">Sửa Thể Loại</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal Xoá Thể loại -->
    <div class="modal fade" id="ModalDelCategory" tabindex="-1" role="dialog" aria-labelledby="ModalDelCategoryLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="ModalDelCategoryLabel">Xoá thể Loại Game</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
                </div>
                <div class="modal-body">
                    Nếu xoá sẽ mất hết các tài khoản liên quan đến thể loại này. Bạn có chấp nhận xoá ?
                </div>
                <div class="modal-footer">
                    <form action="/menugames/del-category" method="POST">
                        <input hidden id="del-category" name="Del_Category">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Huỷ bỏ</button>
                        <button type="submit" class="btn btn-primary">Chấp nhận</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal Thêm Game -->
    <div class="modal fade" id="ModalAddGame" tabindex="-1" role="dialog" aria-labelledby="ModalAddGameLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="ModalAddGameLabel">Thêm game</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
                </div>
                <div class="modal-body">

                    <body>
                        <label>Biểu tượng game:</label>
                        <div style="width: 100%;display: block;height: 4cm;">
                            <div class="uploadOuter dropzone" id="dropzone-imageicongame" style="display: inline-block;">
                                <span class="dragBox">
                                    Nhấp hoặc kéo thả vào đây!
                                    <input type="file" onChange="dragNdrop(event)"  ondragover="drag()" ondrop="drop()" id="AddGame"  />
                                </span>
                            </div>
                            <div id="preview" style="display: inline-block;width: 35%;"></div>
                        </div>
                        <div>
                            <table>
                                <tr>
                                    <td>Thể Loại:</td>
                                    <td><select id="category_id" class="form-select" aria-label="Default select example">
                                        <option selected>Bấm vào để chọn thể loại</option>
                                        <% for (var key in List_Category) { %>
                                        <option value="<%= List_Category[key]['name'] %>"><%= List_Category[key]["name"] %></option>
                                        <% } %>
                                      </select></td>
                                </tr>
                                <tr>
                                    <td>Tên Game:</td>
                                    <td><input type="text" placeholder="Nhập tên" id="name_game"></td>
                                </tr>
                                <tr>
                                    <td>Thư Mục:</td>
                                    <td><input type="text" placeholder="Nhập đường dẫn" id="folder"></td>
                                </tr>
                                <tr>
                                    <td>File.EXE:</td>
                                    <td><input type="text" placeholder="Nhập file.exe" id="exe"></td>
                                </tr>
                                <tr>
                                    <td>Hậu tố:</td>
                                    <td><input type="text" placeholder="Nhập hậu tố" id="parameter"></td>
                                </tr>
                                <tr>
                                    <td>Link Folder:</td>
                                    <td>
                                        <div style="display: block;">
                                            <div id="addinputtargetlink" style="width: 40%;display: inline-block">
                                                <input type="text" id="target0" placeholder="Target" style="width: 100%;">
                                            </div>
                                            <div id="addinputlinklink" style="width: 40%; display: inline-block;">
                                                <input type="text" id="link0" placeholder="Link" style="width: 100%;">
                                            </div>
                                        </div>
                                        <button onclick="_addinput('link')">Thêm</button>
                                    </td>
                                </tr>
                                <tr>
                                    <td>File Reg:</td>
                                    <td>
                                        <div style="display: block;">
                                            <div id="addinputregreg" style="width: 40%;display: inline-block">
                                                <input type="text" id="reg0" placeholder="Reg" style="width: 100%;">
                                            </div>
                                        </div>
                                        <button onclick="_addinput('reg')">Thêm</button>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </body>
                </div>
                <div class="modal-footer">
                    <input hidden id="del-typegameinput" name="typegame">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Huỷ bỏ</button>
                    <button type="submit" class="btn btn-primary" onclick="_addGame()">Chấp nhận</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal lưu danh sách games -->
    <div class="modal fade" id="ModalSaveListGames" tabindex="-1" role="dialog" aria-labelledby="ModalSaveListGamesLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="ModalSaveListGamesLabel">Lưu Lại danh sách game</h5>
                    <button type="button" class="close1" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
                </div>
                <div class="modal-body">
                    Bạn sẽ lưu lại chứ, nếu lưu đồng thời sẽ không sắp xếp lại như lúc trước ?
                </div>
                <div class="modal-footer">
                    <input hidden id="del-typegameinput" name="typegame">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Huỷ bỏ</button>
                    <button type="submit" class="btn btn-primary" onclick="CHECKOKSAVE()">Chấp nhận</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal chỉnh games -->
    <div class="modal fade" id="ModalEditGame" tabindex="-1" role="dialog" aria-labelledby="ModalEditGameLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="ModalEditGameLabel">Chỉnh game</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
                </div>
                <div class="modal-body">

                    <body>
                        <label>Biểu tượng game:</label>
                        <div style="width: 100%;display: block;height: 4cm;">
                            <div class="uploadOuter dropzone" id="dropzone-imageicongame" style="display: inline-block;">
                                <span class="dragBox">
                                    Nhấp hoặc kéo thả vào đây!
                                    <input type="file" onChange="dragNdrop_edit(event)"  ondragover="drag()" ondrop="drop()" id="EditGame"  />
                                </span>
                            </div>
                            <div id="preview-edit" style="display: inline-block;width: 35%;"></div>
                        </div>
                        <div>
                            <table>
                                <tr>
                                    <td>API / ID Game:</td>
                                    <td id="api_id-edit"></td>
                                </tr>
                                <tr>
                                    <td>Thể Loại:</td>
                                    <td><select class="form-select" aria-label="Default select example">
                                        <option id="category_id-edit" selected>Bấm vào để chọn thể loại</option>
                                        <% for (var key in List_Category) { %>
                                        <option value="<%= List_Category[key]['name'] %>"><%= List_Category[key]["name"] %></option>
                                        <% } %>
                                      </select></td>
                                </tr>
                                <tr>
                                    <td>Tên Game:</td>
                                    <td><input type="text" placeholder="Nhập tên" id="name_game-edit">
                                        <input type="text" id="icon-old-edit" hidden></td>
                                </tr>
                                <tr>
                                    <td>Thư Mục:</td>
                                    <td><input type="text" placeholder="Nhập đường dẫn" id="folder-edit"></td>
                                </tr>
                                <tr>
                                    <td>File.EXE:</td>
                                    <td><input type="text" placeholder="Nhập file.exe" id="exe-edit"></td>
                                </tr>
                                <tr>
                                    <td>Hậu tố:</td>
                                    <td><input type="text" placeholder="Nhập hậu tố" id="parameter-edit"></td>
                                </tr>
                                <tr>
                                    <td>Link Folder:</td>
                                    <td>
                                        <div style="display: block;">
                                            <div id="addinputtargetlink-edit" style="width: 40%;display: inline-block">
                                            </div>
                                            <div id="addinputlinklink-edit" style="width: 40%; display: inline-block;">
                                            </div>
                                        </div>
                                        <button onclick="_addinputedit('link','idgame')">Thêm</button>
                                    </td>
                                </tr>
                                <tr>
                                    <td>File Reg:</td>
                                    <td>
                                        <div style="display: block;">
                                            <div id="addinputregreg-edit" style="width: 40%;display: inline-block">
                                            </div>
                                        </div>
                                        <button onclick="_addinputedit('reg','idgame')">Thêm</button>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </body>
                </div>
                <div class="modal-footer">
                    <input hidden id="del-typegameinput" name="typegame">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Huỷ bỏ</button>
                    <button type="submit" class="btn btn-danger" onclick="_delGame()">Xoá</button>
                    <button type="submit" class="btn btn-primary" onclick="_editGame()">Chấp nhận</button>
                </div>
            </div>
        </div>
    </div>

</body>

</html>