<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="refresh" content="10">
    <title>Quản lí Account</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.3/dist/jquery.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="/javascripts/homePage.js"></script>
</head>

<body>
    <!-- TypeGame Manger -->
    <div>
        <div style="width: 33%; display:block ">
            <div>
                <!-- Modal Thêm Loại Game -->
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#ModalAddType">Thêm Loại Game</button>
            </div>
            <div>
                <table class="table">
                    <thead>
                        <tr style="text-align: center;">
                            <th scope="col" style="border-left: 1px solid;border-right: 1px solid;">Loại Game</th>
                            <th scope="col" style="border-left: 1px solid;border-right: 1px solid;">Macro Setting</th>
                            <th scope="col" style="text-align: right;"></th>
                        </tr>
                    </thead>
                    <% var DataType = JSON.parse(DataType) %>
                        <tbody>
                            <tr>
                                <% for (var key in DataType) { %>
                                    <td style="border-left: 1px solid;border-right: 1px solid;">
                                        <%= DataType[key]['typegame']%>
                                    </td>
                                    <td style="border-left: 1px solid;border-right: 1px solid;">
                                        <%= DataType[key]['settingmacro'] %>
                                    </td>
                                    <td style="text-align: right;">
                                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#ModalEditType" onclick="EditTypeGame(`<%= DataType[key]['typegame']%>`,`<%= DataType[key]['settingmacro']%>`)">Chỉnh sửa</button>
                                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#ModalDelType" onclick="DelTypeGame(`<%= DataType[key]['typegame']%>`)">Xoá</button>
                                    </td>
                            </tr>
                            <% } %>
                        </tbody>
                </table>
            </div>
        </div>
    </div>



    <!-- Account Manager -->
    <div style="display: block; width: 100%;">
        <div>
            <!-- Modal Thêm Tài Khoản -->
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#ModalAddAccount">Thêm Tài Khoản</button>
        </div>
        <div>
            <table class="table">
                <thead>
                    <tr style="text-align: center;">
                        <th scope="col" style="border-left: 1px solid;border-right: 1px solid;">ID</th>
                        <th scope="col" style="border-left: 1px solid;border-right: 1px solid;">Loại Game</th>
                        <th scope="col" style="border-left: 1px solid;border-right: 1px solid;">Tài Khoản</th>
                        <th scope="col" style="border-left: 1px solid;border-right: 1px solid;">Mật Khẩu</th>
                        <th scope="col" style="border-left: 1px solid;border-right: 1px solid;">(Tên Máy) ---- (Id Máy)</th>
                        <th scope="col" style="text-align: center;"></th>
                    </tr>
                </thead>
                <% var DataAccount = JSON.parse(DataAccount) %>
                    <tbody>
                        <tr>
                            <% for (var key in DataAccount) { %>
                                <td style="border-left: 1px solid;border-right: 1px solid;width: 0%;">
                                    <%= DataAccount[key]['id']%>
                                </td>
                                <td style="border-left: 1px solid;border-right: 1px solid;width: 15%;">
                                    <%= DataAccount[key]['typegame']%>
                                </td>
                                <td style="border-left: 1px solid;border-right: 1px solid;">
                                    <%= DataAccount[key]['account']%>
                                </td>
                                <td style="border-left: 1px solid;border-right: 1px solid;">
                                    <%= DataAccount[key]['password']%>
                                </td>
                                <td style="border-left: 1px solid;border-right: 1px solid;width: 20%;">
                                    <%= DataAccount[key]['clientid']%> ----
                                        <%= DataAccount[key]['clientname']%>
                                </td>
                                <td style="text-align: center;width: 10%;">
                                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#ModalEditAccount" onclick="EditAccount(`<%= DataAccount[key]['id']%>`,`<%= DataAccount[key]['typegame']%>`)">Chỉnh sửa</button>
                                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#ModalDelAccount" onclick="DelAccount(`<%= DataAccount[key]['typegame']%>`,`<%= DataAccount[key]['account']%>`)">Xoá</button>
                                </td>
                        </tr>
                        <% } %>
                    </tbody>
            </table>
        </div>
    </div>


    <!-- Modal Thêm Loại Game -->
    <div class="modal fade" id="ModalAddType" tabindex="-1" role="dialog" aria-labelledby="ModalAddTypeLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="ModalAddTypeLabel">Thêm Loại Game</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
                </div>
                <div class="modal-body">
                    <!-- Input -->
                    <form action="/rentacc/add-typegame" method="POST">
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text">Tên Loại Game</span>
                            </div>
                            <input type="text" class="form-control" placeholder="Bấm vào đây" name="typegame">
                        </div>

                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text">Tên Macro</span>
                            </div>
                            <input type="text" class="form-control" placeholder="Bấm vào đây" name="settingmacro">
                        </div>

                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
                            <button type="submit" class="btn btn-primary">Thêm Loại Game</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal Chỉnh Sửa Loại Game -->
    <div class="modal fade" id="ModalEditType" tabindex="-1" role="dialog" aria-labelledby="ModalEditTypeLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="ModalEditTypeLabel">Chỉnh Sửa Loại Game</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
                </div>
                <div class="modal-body">
                    <!-- Input -->
                    <form action="/rentacc/edit-typegame" method="POST">
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text">Tên Loại Game</span>
                            </div>
                            <input type="text" class="form-control" hidden id="typegameold-input" name="typegameold">
                            <input type="text" class="form-control" name="typegamenew">
                        </div>

                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text">Tên Macro</span>
                            </div>
                            <input type="text" class="form-control" hidden id="settingmacroold-input" name="settingmacroold">
                            <input type="text" class="form-control" name="settingmacronew">
                        </div>

                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
                            <button type="submit" class="btn btn-primary">Chỉnh sửa</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal Xoá Loại Game -->
    <div class="modal fade" id="ModalDelType" tabindex="-1" role="dialog" aria-labelledby="ModalDelTypeLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="ModalDelTypeLabel">Xoá Loại Game</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
                </div>
                <div class="modal-body">
                    Nếu xoá sẽ mất hết các tài khoản liên quan đến dữ liệu game này. Bạn có chấp nhận xoá ?
                </div>
                <form action="/rentacc/del-typegame" method="POST">

                    <body>
                        <div class="modal-footer">
                            <input hidden id="del-typegameinput" name="typegame">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Huỷ bỏ</button>
                            <button type="submit" class="btn btn-primary">Chấp nhận</button>
                        </div>
                    </body>
                </form>
            </div>
        </div>
    </div>
    <!-- Modal Thêm Tài Khoản -->
    <div class="modal fade" id="ModalAddAccount" tabindex="-1" role="dialog" aria-labelledby="ModalAddAccountLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="ModalAddAccountLabel">Thêm Tài Khoản</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
                </div>
                <div class="modal-body">
                    <!-- Input -->
                    <form action="/rentacc/add-account" method="POST">

                        <body>
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">Loại Game</span>
                                </div>
                                <div>
                                    <select name="typegame" class="custom-select custom-select-lg mb-3">
                      <option selected>Chọn loại game</option>
                      <% for (var key in DataType) { %>
                      <option value="<%= DataType[key]['typegame']%>"><%= DataType[key]['typegame']%></option>
                      <%}%>
                    </select>
                                </div>
                            </div>

                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">Tài Khoản</span>
                                </div>
                                <input type="text" class="form-control" placeholder="Bấm vào đây" name="taikhoan">
                            </div>

                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">Mật khẩu</span>
                                </div>
                                <input type="text" class="form-control" placeholder="Bấm vào đây" name="matkhau">
                            </div>

                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
                                <button type="submit" class="btn btn-primary">Thêm Tài Khoản</button>
                            </div>
                        </body>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal Chỉnh Sửa Tài Khoản -->
    <div class="modal fade" id="ModalEditAccount" tabindex="-1" role="dialog" aria-labelledby="ModalEditAccountLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="ModalEditAccountLabel">Chỉnh Sửa Tài Khoản</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
                </div>
                <div class="modal-body">
                    <!-- Input -->
                    <form action="/rentacc/edit-account" method="POST">
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text">Loại Game</span>
                            </div>
                            <input type="text" class="form-control" hidden name="idaccount" id="idaccount-input">
                            <select name="typegamenew" class="custom-select custom-select-lg mb-3">
                  <option selected id="typegamenew-input"></option>
                  <% for (var key in DataType) { %>
                  <option value="<%= DataType[key]['typegame']%>"><%= DataType[key]['typegame']%></option>
                  <%}%>
                </select>
                        </div>

                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text">Tài Khoản</span>
                            </div>
                            <input type="text" class="form-control" placeholder="Bấm vào đây" name="taikhoannew">
                        </div>

                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text">Mật khẩu</span>
                            </div>
                            <input type="text" class="form-control" placeholder="Bấm vào đây" name="matkhaunew">
                        </div>

                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
                            <button type="submit" class="btn btn-primary">Chỉnh Sửa Tài Khoản</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal Xoá Tài Khoản -->
    <div class="modal fade" id="ModalDelAccount" tabindex="-1" role="dialog" aria-labelledby="ModalDelAccountLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="ModalDelAccountLabel">Xoá Tài Khoản</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
                </div>
                <div class="modal-body">
                    Bạn có muốn xoá tài khoản?
                </div>
                <form action="/rentacc/del-account" method="POST">

                    <body>
                        <div class="modal-footer">
                            <input type="text" hidden id="del-typeinput" name="typegame">
                            <input type="text" hidden id="del-taikhoaninput" name="taikhoan">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Huỷ bỏ</button>
                            <button type="submit" class="btn btn-primary">Chấp nhận</button>
                        </div>
                    </body>
                </form>
            </div>
        </div>
    </div>
</body>

</html>