<!DOCTYPE html>
<html lang="en">



<head>
    <meta charset="UTF-8">
    <title>Quản lí MenuGames</title>
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/css/bootstrap.min.css'>
    <link rel="stylesheet" href="css/menugames.css">
    <!-- <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js'></script> -->
    <script src="javascripts/jquery/jquery-3.6.0.min.js"></script>
    <script src='javascripts/jquery/jquery.gridstrap.js'></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="javascripts/menugames.js"></script>
    <link rel="stylesheet" href="css/dropzone/dropzone.min.css" />


    <% var List_ItemTools = JSON.parse(List_ItemTools) %>
        <% var List_ItemGames = JSON.parse(List_ItemGames) %>
            <% var List_Category = JSON.parse(List_Category) %>


</head>


<body>
    <!-- Category /..... List -->
    <table style="width: 100%;">
        <tr>
            <td>
                <div>
                    <div style="display:block; ">
                        <div style="text-align: center;">
                            <label style="color: white;">---------------Thể loại--------------</label>
                            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#ModalAddCategory">Thêm Thể Loại</button>
                            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#ModalSaveListCategory">Lưu Lại</button>
                        </div>
                        <div>
                            <table class="table" id="table_category">
                                <thead>
                                    <tr style="text-align: center;">
                                        <th scope="col" style="border-left: 1px solid;border-right: 1px solid;">ID</th>
                                        <th scope="col" style="border-left: 1px solid;border-right: 1px solid;">Tên thể loại</th>
                                        <th scope="col" style="border-left: 1px solid;border-right: 1px solid">Edit</th>
                                    </tr>
                                </thead>
                                <tbody id="table_tbody_category">
                                    <% for (var key in List_Category) { %>
                                        <tr id="id_category-<%= key %>" category_name='<%= List_Category[key]["name"] %>'>
                                            <td style="border-left: 1px solid;border-right: 1px solid;">
                                                <%= List_Category[key]["id"] %>
                                            </td>
                                            <td style="border-left: 1px solid;border-right: 1px solid;">
                                                <%= List_Category[key]["name"] %>
                                            </td>
                                            <td style="border-left: 1px solid;border-right: 1px solid; text-align: center;">

                                                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#ModalEditCategory" onclick="edit_Category(`<%= List_Category[key]['id'] %>`)">Chỉnh sửa</button>
                                                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#ModalDelCategory" onclick="edit_Category(`<%= List_Category[key]['id'] %>`)">Xoá</button>
                                            </td>
                                        </tr>
                                        <% } %>
                                </tbody>
                            </table>
                            <button onclick="upNdown('up');">&ShortUpArrow;</button>
                            <button onclick="upNdown('down');">&ShortDownArrow;</button>
                            <script>
                                //script khởi tạo di chuyển table trong menugame
                                var index;

                                getSelectedRow();

                                function getSelectedRow() {
                                    var table_category = document.getElementById("table_category");
                                    for (var i = 1; i < table_category.rows.length; i++) {
                                        table_category.rows[i].onclick = function() {
                                            if (typeof index !== "undefined") {
                                                table_category.rows[index].classList.toggle("selected");
                                            }

                                            index = this.rowIndex;
                                            this.classList.toggle("selected");

                                        };
                                    }
                                }

                                function upNdown(direction) {
                                    var rows = document.getElementById("table_category").rows,
                                        parent = rows[index].parentNode;
                                    if (direction === "up") {
                                        if (index > 1) {
                                            parent.insertBefore(rows[index], rows[index - 1]);
                                            // when the row go up the index will be equal to index - 1
                                            index--;
                                        }
                                    }

                                    if (direction === "down") {
                                        if (index < rows.length - 1) {
                                            parent.insertBefore(rows[index + 1], rows[index]);
                                            // when the row go down the index will be equal to index + 1
                                            index++;
                                        }
                                    }
                                }
                            </script>
                        </div>
                    </div>
                </div>
            </td>

            <td style="width: 70%;">
                <!-- Thêm Tool Công Cụ -->
                <div class="container">
                    <div style="text-align: right;">
                        <button type="button" class="btn btn-primary" id="edit-set-tool" data-toggle="modal" data-target="#ModalEditTool" disabled>Chỉnh Sửa</button>
                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#ModalAddTool">Thêm Tool</button>
                        <button type="button" class="btn btn-primary" onclick="window.location.href = '/menugames';">RESET</button>
                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#ModalSaveListTools">Lưu Lại</button>
                    </div>
                    <div id="basic-grid_tool" class="row text-center">
                        <% for (var key in List_ItemTools) { %>
                            <div class="col-xs-12 col-sm-6 col-md-1 col1 container" id="id_tools-<%= key %>" api_id="<%= List_ItemTools[key]['id_list'] %>" ondblclick="Edit_SetTool(`<%= List_ItemTools[key]['id_list'] %>`,
                                        `<%= List_ItemTools[key]['name_tool'] %>`,
                                        `<%= List_ItemTools[key]['icon'] %>`,
                                        `<%= List_ItemTools[key]['name_tool'] %>`,
                                        `<%= List_ItemTools[key]['folder'] %>`,
                                        `<%= List_ItemTools[key]['parameter'] %>`,
                                        `<%= JSON.stringify(IdandName) %>` )">
                                <img src="./images/<%= List_ItemTools[key]['icon'] %>" disabled>
                                <div class="text-items">
                                    <%= List_ItemTools[key]['name_tool'] %>
                                </div>
                            </div>
                            <% } %>
                    </div>
                </div>
            </td>
        </tr>
    </table>

    <!-- Menugame Đã Setting -->
    <div class="container">
        <div style="text-align: right;">
            <label for="">-----------------------------Đã Setting--------------------------                   </label>
            <button type="button" class="btn btn-primary" id="edit-set-game" data-toggle="modal" data-target="#ModalEditGame" disabled>Chỉnh Game</button>
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#ModalAddGame">Thêm Game</button>
            <button type="button" class="btn btn-primary" onclick="window.location.href = '/menugames';">RESET</button>
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#ModalSaveListGames">Lưu Lại</button>
        </div>
        <div id="basic-grid" class="row text-center">
            <% var IdandName = []%>
                <% for (var key in List_ItemGames) { %>
                    <% IdandName.push({ id_list:List_ItemGames[key]['id_list'], name_game:List_ItemGames[key]['name_game'] })%>
                        <% } %>
                            <% for (var key in List_ItemGames) { %>
                                <% if (List_ItemGames[key]['category_id'] != undefined ) { %>
                                    <div class="col-xs-12 col-sm-6 col-md-1 col1 container" id="id_games-<%= key %>" api_id="<%= List_ItemGames[key]['id_list'] %>" ondblclick="Edit_SetGame(`<%= List_ItemGames[key]['id_list'] %>`,
                            `<%= List_ItemGames[key]['name_game'] %>`,
                            `<%= List_ItemGames[key]['icon'] %>`,
                            `<%= List_ItemGames[key]['category_id'] %>`,
                            `<%= List_ItemGames[key]['name_game'] %>`,
                            `<%= List_ItemGames[key]['folder'] %>`,
                            `<%= List_ItemGames[key]['parameter'] %>`,
                            `<%= List_ItemGames[key]['child_id_list'] %>`,
                            `<%= JSON.stringify(IdandName) %>` )">
                                        <img src="./images/<%= List_ItemGames[key]['icon'] %>" disabled>
                                        <div class="text-items">
                                            <%= List_ItemGames[key]['name_game'] %>
                                        </div>
                                    </div>
                                    <% } %>
                                        <% } %>
        </div>
    </div>


    <!-- Menugame Chưa có thể loại -->
    <div class="container">
        <div style="text-align: center;">
            <label for="">-------------------Chưa có thể loại-------------------</label>
        </div>
        <div id="basic-grid" class="row text-center">
            <% for (var key in List_ItemGames) { %>
                <% if (List_ItemGames[key]['category_id'] == undefined ) { %>
                    <div class="col-xs-12 col-sm-6 col-md-1 col1 container" id="id_games-<%= key %>" api_id="<%= List_ItemGames[key]['id_list'] %>" ondblclick="Edit_SetGame(`<%= List_ItemGames[key]['id_list'] %>`,
                            `<%= List_ItemGames[key]['name_game'] %>`,
                            `<%= List_ItemGames[key]['icon'] %>`,
                            `<%= List_ItemGames[key]['category_id'] %>`,
                            `<%= List_ItemGames[key]['name_game'] %>`,
                            `<%= List_ItemGames[key]['folder'] %>`,
                            `<%= List_ItemGames[key]['parameter'] %>`,
                            `<%= List_ItemGames[key]['child_id_list'] %>`,
                            `<%= JSON.stringify(IdandName) %>` )">
                        <img src="./images/<%= List_ItemGames[key]['icon'] %>" disabled>
                        <div class="text-items">
                            <%= List_ItemGames[key]['name_game'] %>
                        </div>
                    </div>
                    <% } %>
                        <% } %>
        </div>
    </div>

    <!-- Modal Thêm Thể loại -->
    <div class="modal fade" id="ModalAddCategory" tabindex="-1" role="dialog" aria-labelledby="ModalAddCategoryLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="ModalAddCategoryLabel">Thêm Thể Loại</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
                </div>
                <div class="modal-body">
                    <!-- Input -->
                    <form action="/menugames/add-category" method="POST">
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text">Tên thể loại</span>
                            </div>
                            <input type="text" class="form-control" placeholder="Nhập vào đây" name="category_name">
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
                            <button type="submit" class="btn btn-primary">Thêm Thể Loại</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal Chỉnh Thể loại -->
    <div class="modal fade" id="ModalEditCategory" tabindex="-1" role="dialog" aria-labelledby="ModalEditCategoryLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="ModalEditCategoryLabel">Sửa Thể Loại</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
                </div>
                <div class="modal-body">
                    <!-- Input -->
                    <form action="/menugames/edit-category" method="POST">
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text">Sửa thể loại</span>
                            </div>
                            <input hidden id="get-category" name="id">
                            <input type="text" class="form-control" placeholder="Nhập vào đây" name="category_new">
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
                            <button type="submit" class="btn btn-primary">Sửa Thể Loại</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal Xoá Thể loại -->
    <div class="modal fade" id="ModalDelCategory" tabindex="-1" role="dialog" aria-labelledby="ModalDelCategoryLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="ModalDelCategoryLabel">Xoá thể Loại Game</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
                </div>
                <div class="modal-body">
                    Nếu xoá sẽ mất hết các tài khoản liên quan đến thể loại này. Bạn có chấp nhận xoá ?
                </div>
                <div class="modal-footer">
                    <form action="/menugames/del-category" method="POST">
                        <input hidden id="getDel-category_id" name="id">
                        <input hidden id="getDel-category_name" name="name">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Huỷ bỏ</button>
                        <button type="submit" class="btn btn-primary">Chấp nhận</button>
                    </form>
                </div>
            </div>
        </div>
    </div>


    <!-- Modal lưu danh sách thể loại -->
    <div class="modal fade" id="ModalSaveListCategory" tabindex="-1" role="dialog" aria-labelledby="ModalSaveListCategoryLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="ModalSaveListCategoryLabel">Lưu Lại danh sách thể loại</h5>
                    <button type="button" class="close1" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
                </div>
                <div class="modal-body">
                    Bạn sẽ lưu lại chứ, nếu lưu đồng thời sẽ không sắp xếp lại như lúc trước ?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Huỷ bỏ</button>
                    <button type="submit" class="btn btn-primary" onclick="CHECKOKSAVE_Category()">Chấp nhận</button>
                </div>
            </div>
        </div>
    </div>


    <!-- Modal Thêm Tool -->
    <div class="modal fade" id="ModalAddTool" tabindex="-1" role="dialog" aria-labelledby="ModalAddToolLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="ModalAddToolLabel">Thêm Tool</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
                </div>
                <div class="modal-body">

                    <body>
                        <label>Biểu tượng Tool:</label>
                        <div style="width: 100%;display: block;height: 5cm;">
                            <div class="uploadOuter dropzone" id="dropzone-imageicontool" style="display: inline-block;">
                                <span class="dragBox">
                                    Nhấp hoặc kéo thả vào đây!
                                    <input type="file" onChange="dragNdrop_tool(event)"  ondragover="drag()" ondrop="drop()" id="AddTool"/>
                                </span>
                            </div>
                            <div id="preview-tool" style="display: inline-block;width: 35%;"></div>
                        </div>
                        <div>
                            <table>
                                <tr>
                                    <td>Tên Tool:</td>
                                    <td><input type="text" placeholder="Nhập tên" id="name_tool"></td>
                                </tr>
                                <tr>
                                    <td>Thư Mục:</td>
                                    <td><input type="text" placeholder="Nhập đường dẫn" id="folder_tool"></td>
                                </tr>
                                <tr>
                                    <td>Hậu tố:</td>
                                    <td><input type="text" placeholder="Nhập hậu tố" id="parameter_tool"></td>
                                </tr>
                            </table>
                        </div>
                    </body>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Huỷ bỏ</button>
                    <button type="submit" class="btn btn-primary" onclick="_addTool()">Chấp nhận</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal lưu danh sách tools -->
    <div class="modal fade" id="ModalSaveListTools" tabindex="-1" role="dialog" aria-labelledby="ModalSaveListToolsLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="ModalSaveListToolsLabel">Lưu Lại danh sách tool</h5>
                    <button type="button" class="close1" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
                </div>
                <div class="modal-body">
                    Bạn sẽ lưu lại chứ, nếu lưu đồng thời sẽ không sắp xếp lại như lúc trước ?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Huỷ bỏ</button>
                    <button type="submit" class="btn btn-primary" onclick="CHECKOKSAVE_Tool()">Chấp nhận</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal chỉnh tools -->
    <div class="modal fade" id="ModalEditTool" tabindex="-1" role="dialog" aria-labelledby="ModalEditToolLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="ModalEditToolLabel">Chỉnh tool</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
                </div>
                <div class="modal-body">

                    <body>
                        <label>Biểu tượng tool:</label>
                        <div style="width: 100%;display: block;height: 4cm;">
                            <div class="uploadOuter dropzone" id="dropzone-imageicontool" style="display: inline-block;">
                                <span class="dragBox">
                                    Nhấp hoặc kéo thả vào đây!
                                    <input type="file" onChange="dragNdrop_tool_edit(event)"  ondragover="drag()" ondrop="drop()" id="EditTool"  />
                                </span>
                            </div>
                            <div id="preview-tool-edit" style="display: inline-block;width: 35%;"></div>
                        </div>
                        <div>
                            <table>
                                <tr>
                                    <td>API / ID Tool:</td>
                                    <td id="api_id-edit_tool"></td>
                                </tr>
                                <tr>
                                    <td>Tên Tool:</td>
                                    <td><input type="text" id="name_tool-edit_tool">
                                        <input type="text" id="icon-old-edit_tool" hidden></td>
                                </tr>
                                <tr>
                                    <td>Thư Mục:</td>
                                    <td><input type="text" id="folder-edit_tool"></td>
                                </tr>
                                <tr>
                                    <td>Hậu tố:</td>
                                    <td><input type="text" id="parameter-edit_tool"></td>
                                </tr>
                            </table>
                        </div>
                    </body>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Huỷ bỏ</button>
                    <button type="submit" class="btn btn-danger" onclick="_delTool()">Xoá</button>
                    <button type="submit" class="btn btn-primary" onclick="_editTool()">Chấp nhận</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal Thêm Game -->
    <div class="modal fade" id="ModalAddGame" tabindex="-1" role="dialog" aria-labelledby="ModalAddGameLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="ModalAddGameLabel">Thêm game</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
                </div>
                <div class="modal-body">

                    <body>
                        <label>Biểu tượng game:</label>
                        <div style="width: 100%;display: block;height: 5cm;">
                            <div class="uploadOuter dropzone" id="dropzone-imageicongame" style="display: inline-block;">
                                <span class="dragBox">
                                    Nhấp hoặc kéo thả vào đây!
                                    <input type="file" onChange="dragNdrop(event)"  ondragover="drag()" ondrop="drop()" id="AddGame"/>
                                </span>
                            </div>
                            <div id="preview-game" style="display: inline-block;width: 35%;"></div>
                            <div>Lấy ảnh từ URL:
                                <button onclick="getImageFromURL()">Nhấn vào</button>
                            </div>
                        </div>
                        <div>
                            <table>
                                <tr>
                                    <td>Thể Loại:</td>
                                    <td><select id="category_id" class="form-select" aria-label="Default select example">
                                        <option selected>Bấm vào để chọn thể loại</option>
                                        <% for (var key in List_Category) { %>
                                        <option value="<%= List_Category[key]['name'] %>"><%= List_Category[key]["name"] %></option>
                                        <% } %>
                                      </select></td>
                                </tr>
                                <tr>
                                    <td>Tên Game:</td>
                                    <td><input type="text" placeholder="Nhập tên" id="name_game"></td>
                                </tr>
                                <tr>
                                    <td>Thư Mục:</td>
                                    <td><input type="text" placeholder="Nhập đường dẫn" id="folder"></td>
                                </tr>
                                <tr>
                                    <td>Hậu tố:</td>
                                    <td><input type="text" placeholder="Nhập hậu tố" id="parameter"></td>
                                </tr>
                                <tr>
                                    <td>Child-Items:</td>
                                    <td>
                                        <div style="display: block;">
                                            <div id="add_child" style="width: 40%;display: inline-block">
                                                <select id="childitem0" class="form-select" aria-label="Default select example">
                                                    <option selected>Chọn Child - Items Games 0</option>
                                                    <% for (var key in List_ItemGames) { %>
                                                    <option value="<%= List_ItemGames[key]['id_list'] %>"><%= List_ItemGames[key]["name_game"] %></option>
                                                    <% } %>
                                                </select>
                                            </div>
                                        </div>
                                        <button onclick="_addchilds('<%= JSON.stringify(IdandName) %>','add')">Thêm</button></td>
                                </tr>
                            </table>
                        </div>
                    </body>
                </div>
                <div class="modal-footer">
                    <input hidden id="del-typegameinput" name="typegame">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Huỷ bỏ</button>
                    <button type="submit" class="btn btn-primary" onclick="_addGame()">Chấp nhận</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal lưu danh sách games -->
    <div class="modal fade" id="ModalSaveListGames" tabindex="-1" role="dialog" aria-labelledby="ModalSaveListGamesLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="ModalSaveListGamesLabel">Lưu Lại danh sách game</h5>
                    <button type="button" class="close1" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
                </div>
                <div class="modal-body">
                    Bạn sẽ lưu lại chứ, nếu lưu đồng thời sẽ không sắp xếp lại như lúc trước ?
                </div>
                <div class="modal-footer">
                    <input hidden id="del-typegameinput" name="typegame">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Huỷ bỏ</button>
                    <button type="submit" class="btn btn-primary" onclick="CHECKOKSAVE_Game()">Chấp nhận</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal chỉnh games -->
    <div class="modal fade" id="ModalEditGame" tabindex="-1" role="dialog" aria-labelledby="ModalEditGameLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="ModalEditGameLabel">Chỉnh game</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
                </div>
                <div class="modal-body">

                    <body>
                        <label>Biểu tượng game:</label>
                        <div style="width: 100%;display: block;height: 4cm;">
                            <div class="uploadOuter dropzone" id="dropzone-imageicongame" style="display: inline-block;">
                                <span class="dragBox">
                                    Nhấp hoặc kéo thả vào đây!
                                    <input type="file" onChange="dragNdrop_edit(event)"  ondragover="drag()" ondrop="drop()" id="EditGame"  />
                                </span>
                            </div>
                            <div id="preview-edit" style="display: inline-block;width: 35%;"></div>
                        </div>
                        <div>
                            <table>
                                <tr>
                                    <td>API / ID Game:</td>
                                    <td id="api_id-edit"></td>
                                </tr>
                                <tr>
                                    <td>Thể Loại:</td>
                                    <td><select id="category_id-editget" class="form-select" aria-label="Default select example">
                                        <option id="category_id-edit" selected></option>
                                        <% for (var key in List_Category) { %>
                                        <option value="<%= List_Category[key]['name'] %>"><%= List_Category[key]["name"] %></option>
                                        <% } %>
                                      </select>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Tên Game:</td>
                                    <td><input type="text" placeholder="Nhập tên" id="name_game-edit">
                                        <input type="text" id="icon-old-edit" hidden></td>
                                </tr>
                                <tr>
                                    <td>Thư Mục:</td>
                                    <td><input type="text" placeholder="Nhập đường dẫn" id="folder-edit"></td>
                                </tr>
                                <tr>
                                    <td>Hậu tố:</td>
                                    <td><input type="text" placeholder="Nhập hậu tố" id="parameter-edit"></td>
                                </tr>
                                <tr>
                                    <td>Child-Items:</td>
                                    <td>
                                        <div style="display: block;">
                                            <div id="edit_child" style="width: 40%;display: inline-block">
                                            </div>
                                        </div>
                                        <button onclick="_addchilds('<%= JSON.stringify(IdandName) %>','edit')">Thêm</button></td>
                                </tr>
                            </table>
                        </div>
                    </body>
                </div>
                <div class="modal-footer">
                    <input hidden id="del-typegameinput" name="typegame">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Huỷ bỏ</button>
                    <button type="submit" class="btn btn-danger" onclick="_delGame()">Xoá</button>
                    <button type="submit" class="btn btn-primary" onclick="_editGame()">Chấp nhận</button>
                </div>
            </div>
        </div>
    </div>

</body>

</html>